<template name="chat">
    <div class="modal hide fade" id="chatModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Send Message</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" name="targetUserId" id="targetUserId" value="{{targetUserId}}"/>
            <input type="text" name="message" id="message" class="input-small" placeholder="Message..."/>
        </div>
        <div class="modal-footer">
            <a href="javascript:" class="btn btn-primary send">Send</a>
        </div>
    </div>
</template>